.card {
  max-width: 390px;
  height: 890px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
}

.card__title {
  position: relative;
  color: var(--co-normal-black);
  font-size: 30px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 55px;
  align-self: center;
}

.card__title::before {
  content: "01";
  position: absolute;
  top: -131px;
  left: -105px;
  color: var(--co-light-green);
  font-size: 150px;
  font-weight: 400;
  line-height: 150%;
  opacity: 0.3;
}

.card__title--right {
  align-self: end;
}

.card__desc {
  color: var(--co-light-black-2);
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 60px;
}

.card__img {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
  aspect-ratio: auto 65/82;
}

.card__title--second::before {
  content: "02";
  left: -97px;
}

.card__title--third::before {
  content: "03";
  left: -125px;
}

@media (max-width: 480px) {
  .card {
    height: 750px;
  }

  .card__title {
    font-size: 22px;
    line-height: 150%;
    margin-bottom: 20px;
  }

  .card__title::before {
    top: -131px;
    left: -105px;
    font-size: 140px;
  }

  .card__desc {
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 30px;
  }
}
