.hero {
  width: 100%;
  height: 895px;
  background: url("../assets/webp/bg-image.webp") center/cover no-repeat;
}

.hero__content {
  max-width: 420px;
  display: flex;
  flex-direction: column;
  padding-top: 175px;
}

.hero__title {
  color: var(--co-green);
  font-size: 65px;
  font-weight: 700;
  line-height: 78px;
  margin-bottom: 22px;
}

.hero__desc {
  color: var(--co-light-black);
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 50px;
}

.hero__content .btn {
  width: 227px;
  height: 65px;
}

@media (max-width: 768px) {
  .hero {
    height: 700px;
  }

  .hero__content {
    padding-top: 80px;
  }
}

@media (max-width: 480px) {
  .hero {
    background: linear-gradient(
        180deg,
        rgba(245, 246, 252, 0.52),
        rgba(255, 176, 139, 0.28)
      ),
      url("../assets/webp/bg-image.webp") 60% 50% / cover no-repeat;
  }

  .hero__content {
    max-width: 350px;
  }

  .hero__title {
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 22px;
  }

  .hero__desc {
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 50px;
  }
}
